
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Yelpcamp
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

</head>


<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
        <main >
            <%- include("../partials/flash")%>
            <script src="https://kit.fontawesome.com/320c27953c.js" crossorigin="anonymous"></script>
            <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
            <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
            <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

            <link rel="stylesheet" href="/stylesheet/app.css">

            <div id="cluster-map"style="width:100%"></div>
            <div class="container mx-auto">
            <h1 class="d-flex justify-content-center mt-4 mb-4">All Campgrounds</h1>
            <div class="input-group input-group-sm mb-3"style="width:70%;margin:auto">
               <span class="input-group-text" id="basic-addon1"><i class="fas fa-search-location"style=""></i></span>
                
                <form action="/campgrounds/filter" method="POST" style="width:90%" >
                    <input type="text" class="form-control" placeholder="Search your Campground" name="campgrounds[title]" id="search" onkeyup="func()" >
                </form>
                 
            </div>
            <script src="/campgrounds">

            </script>
            
            
            <% for (let camp of campgrounds){%>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <% if (camp.images.length){%>
                                <img class="img-fluid" src="<%=camp.images[0].url%>">
                                <%}else {%>
                                    <img class="img-fluid"
                                        src="https://res.cloudinary.com/dvftglxqk/image/upload/v1616783047/Yelpcamp/zrnb2jfsqb08npclcwda.jpg">
                                    <%}%>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title" id="campName">
                                    <%=camp.title%>
                                </h4>
                                <p class="card-text">
                                    <%=camp.description%>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%=camp.location%>
                                    </small>
                                </p>
                                <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3 ">
                    <a href="/campgrounds/new">New Campground</a>
                    </div>
                    <div class="col-3">
                    <a href="/campgrounds">All Campgrounds</a>
                    </div>
                    </div>
                </div>
                <div id="data" hidden >
                    <% for (let camp of campgrounds){%>
                    <%=camp.geometry.coordinates%>
                    ||
                    <%}%>
                </div>
                <script>
                    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                    const a= document.getElementById("data");
                    const s=a.innerText;
                    const u=s.trim();
                    const b= u.split('||');
                    b.pop();
                    const f= []
                    b.forEach(c=>{
                        //console.log(c);
                        let k=c.trim();
                        k=k.split(',');
                        let x= Number(k[0]);
                        let y= Number(k[1]);
                       let z={
                           type:"Features",
                           properties: {
                               id:"6043cd92d4c19f0e54b5ca0f",
                               mag:2.4,
                               time:Date.now(),
                               felt:null,
                               tsunami:0
                            },
                            geometry:{
                                type:"Point",
                                coordinates:[x,y]
                            }
                       }
                       f.push(z);
                    })
                    const campgrounds={features:f} 
                </script>
                <script>
                    function func()
                    {
                        let card=document.getElementsByClassName('card');
                        let filter=document.getElementById('search').value.toUpperCase();
                        for(let i=0;i<card.length;i++)
                        {
                            let title=card[i].getElementsByClassName('card-title')[0];
                            if(title)
                            {
                                let text=title.innerHTML.toUpperCase();
                                if(text.indexOf(filter)>-1)
                                card[i].style.display="block";
                                else
                                card[i].style.display="none";
                            }
                        }
                    }
                    
                </script>
                
                <script src="/javascript/clusterMap.js"></script>
            </div>
            </main>

        <%- include('../partials/footer')%>
        
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
                integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
                integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
                crossorigin="anonymous"></script>
            <script src=/javascript/validateForm.js></script>
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
</body>

</html>

























